body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
        background-color:lightblue;
}
.div1{
    height:50px;
    background-color:maroon;
    padding-top:0px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    opacity:0.5;
    
    
}

.div11{
    position:absolute;
    top:0;
    right:140px;
    background-color:LightCoral;
    height:50px;
    width:5%;
    margin-left:1050px;
    
}



.tf{
    border-radius:5px;
}
.text-big {
    font-size: 300%;
}

.or{
    position:absolute;
    right:120px;
    top:0;
}
#sgn{
    position:absolute;
    right:40px;
    top:8px;
    height:30px;
    width:5%;
    background-color:springgreen;
    border:2px solid;
    border-color:white;
    color:white;
    line-height:30px;
}
.bg{
    background-image:url(/b.jpg);
  
  text-align:center;
    
}
.frm{
    position:absolute;
    top:0;
    left:800px;
    border-radius:10px;
}

.bold {
    font-weight: bold;
}
.sub{
    position:absolute;
    top:1;
    right:0;
    background-color:blue;
}
.img-medium {
    height: 200px;
}

