body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
        background-color:lightblue;
}
.div1{
    height:100px;
    background-color:maroon;
    margin-top=0px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.sub{
    position:absolute;
    top:1;
    right:0;
    background-color:blue;
}
.img-medium {
    height: 200px;
}

