body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
        background-color:lightblue;
}
.div1{
    height:50px;
    background-color:maroon;
    padding-top:0px;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    opacity:0.5;
    
    
}

.div11{
    position:absolute;
    top=0;
    right:10px;
    background-color:Maroon;
    height:50px;
    width:5%;
    margin-left:1050px;
    border-radius:7px;
}




.text-big {
    font-size: 300%;
}


.bg{
    background-image:url(/b.jpg);
  color:LawnGreen;
  text-align:center;
    line-height:45px;
}
.frm{
    position:absolute;
    top:0;
    left:800px;
}

.bold {
    font-weight: bold;
}
.sub{
    position:absolute;
    top:1;
    right:0;
    background-color:blue;
}
.img-medium {
    height: 200px;
}

